.Acusio {
  color: white !important;
  font-size: 15px;
}

.right-nav {
  text-align: right !important;
}

.left {
  background-color: black;
  height: 100px;
}

.right {
  background-color: red;
  height: 100px;
}

.navbar {
  text-align: center !important;
}

.side-bar {
  width: 200;
}
